@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 64rem;
  --breakpoint-desktop: 84.375rem;
}

@layer base {
  body {
    font-family: "Be Vietnam Pro", sans-serif;
    color: #d2d5da;
  }

  button {
    padding: 0.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
  }

  input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #d2d5da;
    vertical-align: -7px;
    border-radius: 3px;
  }

  input[type="checkbox"]:checked {
    border-color: #4e80ee;
  }

  th {
    border-bottom: 2px solid #282b30;
    text-align: left;
    padding-bottom: 12px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1b1d1f;
  }

  td {
    padding-top: 18px;
  }
}

@layer utilities {
  .active {
    background-color: #282b30;
  }

  .checkbox {
    background-color: #4e80ee;
    border-color: #4e80ee;
    border-radius: 3px;
    opacity: 1;
  }

  .label-size,
  th {
    font-size: 0.75rem;
    font-weight: 500;
  }

  .label-data,
  button,
  td {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .tables {
    scrollbar-color: #d2d5da #1b1d1f;
  }
}
